body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

/* Barra de pesquisa do site */

.mainnav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: center;
}

.pesquisa {
  margin-left: 1em;
  margin-right: 1em; /* Adicionado margem direita */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesquisa div:first-child > a {
  margin-left: -30px;
}

.pesquisa div:last-child > a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  padding: 0 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.barraPesquisa {
  height: 30px;
  width: 35em;
  border-radius: 20px;
  padding-left: 1em;
  border: none;
  color: #9165ef;
  text-align: center;
  margin: 0px;
}

.barraPesquisa::placeholder {
  color: #9165ef;
}

.search-bar {
  margin: 0 auto;
  width: 100%;
  height: 15px;
  padding: 0 20px;
  font-size: 1rem;
  border: 3px solid #ced0ce;
  outline: none;
}

:-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

:-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search-button {
  height: 25px;
  width: 85px;
  background-color: #87cbb9;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-button i {
  color: #9165ef;
  font-size: 18px;
  padding: 10px;
}
/* Cabeçalho do site */

.logo-img {
  height: 85px;
}

.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead li {
  list-style: none;
  padding: 0 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.masthead li a {
  text-decoration: none;
  color: white;
}

.masthead li a:hover {
  color: #bbedff;
}

.container {
  display: flex;
  align-items: center;
  gap: 2em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #090580;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* BANNER IMAGEM */
.sobreNos1 img {
  margin: 0%;
  display: flex;
  border: 3px solid #488fb1;
  justify-self: center;
  align-self: center;
}

/* Rodapé do site */

.social {
  background-color: #87cbb9;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}

.dev {
  color: #f9fbff;
}

.social {
  color: #f9fbff;
}

.retorno {
  margin-left: -3.5em;
}

.dev {
  background-color: #090580;
  padding: 1em;
}

.itemRodape {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.itemRodape i {
  color: #090580;
}

.dev p {
  text-align: center;
  margin: 0;
}

/* Parte principal do "Sobre Nós" */

.sobreNos1 {
  color: black;
  margin: 12%;
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.sobreNos1 p,
.titulonos {
  width: 70%;
  margin: auto;
  text-align: justify;
}

/* DIVISÃO DO SOBRE NÓS , PRA CIMA RESTO PRA BAIXO TITULO */

.titulonos {
  color: #f0fff0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #488fb1;
  border: 2px solid #f0fff0;
  border-radius: 8px;
  padding: 5px; /* Ajuste o valor de padding conforme necessário */
  margin-top: 20px;
  text-align: center;
}

main.sobrenos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  text-align: center;
}

/* SOBRE NOS E INFORMAÇÕES */

.alinharSobreNos {
  display: flex;
  align-items: center;
}

.alinharSobreNos div:first-child {
  width: 57%;
  display: flex;
  justify-content: right;
}
.alinharSobreNos div img {
  border-radius: 50%;
  height: 300px;
  max-width: 300px;
  object-fit: cover;
}

.alinharSobreNos div:last-child {
  width: 35%;
  padding-left: 20px;
  text-align: justify;
}

.alinharSobreNos div p:first-child {
  text-align: center;
}

.alinharSobreNos div p:last-child {
  text-align: justify;
}

.reversoSobreNos {
  display: flex;
  align-items: center;
}

.reversoSobreNos div:last-child {
  width: 50%;
  display: flex;
  justify-content: left;
}
.reversoSobreNos div img {
  border-radius: 50%;
  height: 300px;
  max-width: 300px;
  object-fit: cover;
}

.reversoSobreNos div:first-child {
  width: 41%;
  margin-right: 20px;
  padding-left: 20px;
  text-align: justify;
}
.reversoSobreNos div p:first-child {
  text-align: center;
}
.reversoSobreNos div p:last-child {
  text-align: justify;
}
/*LOCALIZAÇÃOOOOOOOOOOO*/

.localizacao {
  background-color: #090580;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
}

.localizacao-title {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 18px;
  padding: 10px;
}

/* LOJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

.ltitle {
  color: #090580;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 8px;
  text-align: center;
  padding: px; /* Ajuste o valor de padding conforme necessário */
}
/* coloca todas as css perante a img da loja */
.imgLoja {
  border-radius: 50%;
  height: 300px;
  max-width: 300px;
}

/* PAGINA INICIALLLLLLLLL */

.textprodutosRecomendado {
  background-color: #090580;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  padding: 1px 100px;
  margin: 80px;
}

.produtosRecomendados-title {
  color: white;
  text-align: center;
  margin: 0;
}

.produtosRecomendado {
  margin-top: 20px;
  text-align: center;
}

.produtosRecomendado img {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  border: 2px solid #090580;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
  transition: transform 0.3s ease, filter 0.3s ease; /* Adiciona transição suave */
}

.produtosRecomendado img:hover {
  transform: scale(1.1);
  filter: brightness(110%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Aumenta a intensidade da sombra no hover */
}

/* MARCAR VENDIDAS*/

.tituloMarcas {
  background-color: #090580;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  padding: 1px 100px;
  margin: 80px;
}

.tituloMarcas-title {
  color: white;
  text-align: center;
  margin: 0;
}

.containerMarcas,
.containerMarcas div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.marcaImagem {
  width: 250px;
  margin: 10px;
  border-radius: 20px;
}

.marcaImagem {
  transition: transform 0.3s ease;
}

.marcaImagem:hover {
  transform: scale(1.1);
}

/* EU ODEIO PROGRAMAÇÃO*/
.lojaprod {
  background-color: #adecdb;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  padding: 1px 100px;
  margin: 80px;
}

/*lojaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.lojaprod-title {
  color: #87cbb9;
  text-align: center;
  margin: 1;
}

.lojaprod {
  margin-top: 20px;
  text-align: center;
}

.lojaprod img {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  border: 2px solid #87cbb9;
  border-radius: 5px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, filter 0.3s ease;
  margin-bottom: 20px; /* Adiciona espaçamento entre as imagens */
}

.lojaprod img:hover {
  transform: scale(2.1);
  filter: brightness(110%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/*LOGIN/FORMULARIO PARA O PET SHOP*/

h1 {
  color: blueviolet;
}

.form-master {
  width: fit-content;
  color: rgb(24, 7, 91);
  text-align: center;
  text-transform: uppercase;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 10px 10px 0 #090580;
  padding: 3em;
  margin: 0px auto;
  margin-top: 200px;
  margin-bottom: 150px;
}
.form-master h2 {
  color: rgb(24, 7, 91);
  text-align: center;
  margin-bottom: 0;
}
.form-master p {
  text-align: center;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.form-master input,
.form-master textarea {
  border-radius: 10px;
  padding: 6px 16px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #090580;
}
.form-btn {
  display: flex;
  justify-content: center;
}
.form-btn input {
  background-color: #090580;
  color: white;
  border: none;
  border-bottom: 10;
  height: 2.5em;
  width: 8em;
}
.form-btn input:invalid {
  animation: shake 0, 2s 2;
  border: 1px solid rgb(24, 7, 91);
}
@keyframes shake {
  25% {
    translate: 6px 0;
  }
  50% {
    translate: 6px 0;
  }
  75% {
    translate: 6px 0;
  }
}
